.about-us {
  width: 100%;
  padding: 67px 0;
  position: relative;
  @media screen and (max-width: 620px) {
    padding: 40px 0;
  }
  &__background {
    width: 90%;
    height: 350px;
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      #fff 50%,
      $color-bg-grey 50%,
      $color-bg-grey 100%
    );
    @media screen and (max-width: 960px) {
      background-image: none;
    }
    top: 0px;
    @media screen and (max-width: 1250px) {
      width: 100%;
    }
  }
  &__content {
    display: flex;
    @media screen and (max-width: 960px) {
      flex-wrap: wrap;
      max-width: 452px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (max-width: 520px) {
      max-width: 250px;
    }
  }
  &__poster {
    width: 216px;
    height: 216px;
    border: 2px $color-yellow solid;
    border-radius: 5px;
    margin-right: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    padding-top: 167px;
    @media screen and (max-width: 520px) {
      width: 120px;
      height: 120px;
      padding-top: 60px;
    }
    &:nth-child(1) {
      background-image: url(../images/icon1.png);
      background-repeat: no-repeat;
      background-position: center 43px;
      user-select: none;
      animation: animateY50 5000ms infinite 1000ms;
      @media screen and (max-width: 960px) {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 520px) {
        background-size: 40px 40px;
        background-position: center 16px;
        animation: animateY5 5000ms infinite 1000ms;
        margin-right: 10px;
      }
    }
    &:nth-child(2) {
      background-image: url(../images/icon2.png);
      background-repeat: no-repeat;
      background-position: center 43px;
      user-select: none;
      animation: animateY-50 5000ms infinite 1000ms;
      padding-top: 160px;
      @media screen and (max-width: 960px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
      @media screen and (max-width: 520px) {
        padding-top: 60px;
        background-size: 40px 40px;
        background-position: center 16px;
        animation: animateY-5 5000ms infinite 1000ms;
      }
    }
    &:nth-child(3) {
      background-image: url(../images/icon3.png);
      background-repeat: no-repeat;
      background-position: center 43px;
      user-select: none;
      animation: animateY50 5000ms infinite 1000ms;
      @media screen and (max-width: 520px) {
        background-size: 40px 40px;
        background-position: center 16px;
        animation: animateY5 5000ms infinite 1000ms;
        margin-right: 10px;
      }
    }
    &:nth-child(4) {
      background-image: url(../images/icon4.png);
      background-repeat: no-repeat;
      background-position: center 43px;
      user-select: none;
      margin-right: 0;
      animation: animateY-50 5000ms infinite 1000ms;
      @media screen and (max-width: 960px) {
        margin-right: 0;
      }
      @media screen and (max-width: 520px) {
        background-size: 40px 40px;
        background-position: center 16px;
        animation: animateY-5 5000ms infinite 1000ms;
      }
    }
  }
  &__paragraph {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    @media screen and (max-width: 520px) {
      font-size: 9px;
      line-height: 12px;
      position: relative;
      bottom: -8px;
    }
  }
}

@keyframes animateY50 {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animateY-50 {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animateY5 {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animateY-5 {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}
