.about-us {
  width: 100%;
  padding: 67px 0;
  position: relative;
  &__background {
    width: 90%;
    height: 350px;
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      #fff 50%,
      $color-bg-grey 50%,
      $color-bg-grey 100%
    );
    top: 0px;
  }
  &__content {
    display: flex;
  }
  &__poster {
    width: 216px;
    height: 216px;
    border: 2px $color-yellow solid;
    border-radius: 5px;
    margin-right: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    padding-top: 167px;
    &:nth-child(1) {
      background-image: url(../images/icon1.png);
      background-repeat: no-repeat;
      background-position: center 43px;
      user-select: none;
      animation: animateY50 5000ms infinite 1000ms;
    }
    &:nth-child(2) {
      background-image: url(../images/icon2.png);
      background-repeat: no-repeat;
      background-position: center 43px;
      user-select: none;
      animation: animateY-50 5000ms infinite 1000ms;
      padding-top: 160px;
    }
    &:nth-child(3) {
      background-image: url(../images/icon3.png);
      background-repeat: no-repeat;
      background-position: center 43px;
      user-select: none;
      animation: animateY50 5000ms infinite 1000ms;
    }
    &:nth-child(4) {
      background-image: url(../images/icon4.png);
      background-repeat: no-repeat;
      background-position: center 43px;
      user-select: none;
      margin-right: 0;
      animation: animateY-50 5000ms infinite 1000ms;
    }
  }
  &__paragraph {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
  }
}

@keyframes animateY50 {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animateY-50 {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
