.rating {
  background-image: linear-gradient(
    to right,
    $color-bg-grey 90%,
    #fff 90%,
    #fff 100%
  );
  @media screen and (max-width: 620px) {
    padding: 30px 0;
  }
  &__container {
    @media screen and (max-width: 1060px) {
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (max-width: 1250px) {
    background: $color-bg-grey;
  }
  padding: 67px 0;
  &__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 20px;
    @media screen and (max-width: 1060px) {
      text-align: center;
    }
    @media screen and (max-width: 620px) {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
  &__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 40px;
    @media screen and (max-width: 1060px) {
      text-align: center;
    }
    @media screen and (max-width: 620px) {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 20px;
    }
  }
  &__table {
    display: flex;

    &_title {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 38px;
      @media screen and (max-width: 620px) {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    &_paragraph-first {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
      @media screen and (max-width: 620px) {
        font-size: 10px;
        text-align: center;
        margin-bottom: 8px;
      }
    }
    &_paragraph-second {
      font-size: 16px;
      line-height: 19px;
      background: $color-bg-grey;
      border-radius: 5px;
      padding-top: 16px;
      padding-bottom: 15px;
      text-align: center;
      @media screen and (max-width: 620px) {
        font-size: 10px;
        padding-top: 6px;
        padding-bottom: 5px;
      }
    }
    @media screen and (max-width: 620px) {
      max-width: calc(100vw - 30px);
      font-size: 10px;
    }
  }
  &__list-first {
    margin-right: 20px;
    min-width: 216px;
    @media screen and (max-width: 620px) {
      min-width: 100px;
    }
  }
  &__item-first {
    font-size: 16px;
    line-height: 19px;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: -1px 38px 86px -63px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: -1px 38px 86px -63px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: -1px 38px 86px -63px rgba(0, 0, 0, 0.56);
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(1) {
      background: #ffe249;
    }
    &:nth-child(2) {
      background: #eaeaea;
    }
    &:nth-child(3) {
      background: #fcb868;
    }
    @media screen and (max-width: 620px) {
      font-size: 10px;
      min-width: 120px;
      height: 30px;
      padding-left: 10px;
    }
  }
  &__span {
    font-weight: 700;
  }
  &__table-second {
    background: #fff;
    min-width: 335px;
    padding: 40px 20px;
    border-radius: 5px;
    max-height: 590px;
    margin-right: 58px;
    box-shadow: -1px 38px 86px -63px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: -1px 38px 86px -63px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: -1px 38px 86px -63px rgba(0, 0, 0, 0.56);
    @media screen and (max-width: 1060px) {
      margin-right: 0;
    }
    @media screen and (max-width: 620px) {
      min-width: 150px;
      max-height: 390px;
      padding: 10px 20px;
    }
  }
  &__item-second {
    margin-bottom: 31px;
  }
  &__section-third {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    @media screen and (max-width: 1060px) {
      display: none;
    }
  }
  &__image {
    transition: 0.6s;
    &:hover {
      transform: scale(1.4);
      transform-origin: 50% 10%;
    }
    &_thumb {
      width: 200px;
      height: 200px;
      margin-bottom: 29px;
      overflow: hidden;
      border-radius: 50%;
    }
    &_paragraph {
      font-size: 18px;
      line-height: 21px;
      @media screen and (max-width: 620px) {
        font-size: 12px;
      }
    }
    &_paragraph {
      margin-bottom: 50px;
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      &:last-child {
        margin-bottom: 0;
      }
      @media screen and (max-width: 620px) {
        font-size: 12px;
      }
    }
  }
}
